# Hamburg Points of Interest - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/hamburg-points-of-interest-2025-10/hamburg-points-of-interest-universities-details.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

          id        lat  ...  zip_code     city
0  295677295  53.568097  ...   20146.0  Hamburg
1  339979039  53.568259  ...       NaN  Hamburg
2  339979101  53.567912  ...       NaN  Hamburg
3  409587431  53.567360  ...       NaN      NaN
4  427951735  53.567933  ...   20146.0  Hamburg

[5 rows x 7 columns]

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        30 non-null     int64
 1   lat       30 non-null     float64
 2   lon       30 non-null     float64
 3   name      29 non-null     object
 4   street    14 non-null     object
 5   zip_code  12 non-null     float64
 6   city      15 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.8+ KB

In [4]:
# Describe dataframe
dataframe.describe()

                 id        lat        lon      zip_code
count  3.000000e+01  30.000000  30.000000     12.000000
mean   5.444122e+09  53.560168   9.983999  21087.500000
std    4.432929e+09   0.031436   0.037828   1639.136386
min    2.956773e+08  53.463125   9.858111  20146.000000
25%    5.120997e+08  53.557110   9.974164  20146.000000
50%    5.949431e+09  53.567883   9.978260  20250.000000
75%    8.815427e+09  53.568309   9.986937  21344.500000
max    1.269752e+10  53.631692  10.106860  25469.000000