# Hamburg Points of Interest - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/hamburg-points-of-interest-2025-11-csv/hamburg-points-of-interest-universities-quarter.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

        id  points_of_interest
0        0                   1
1  1101102                   1
2  1102103                   2
3  1103108                   4
4  1106115                   1

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11 non-null     int64
 1   points_of_interest  11 non-null     int64
dtypes: int64(2)
memory usage: 308.0 bytes

In [4]:
# Describe dataframe
dataframe.describe()

                 id  points_of_interest
count  1.100000e+01           11.000000
mean   2.803354e+06            2.727273
std    2.327364e+06            3.227721
min    0.000000e+00            1.000000
25%    1.102606e+06            1.000000
50%    2.201204e+06            2.000000
75%    3.856370e+06            2.500000
max    7.701701e+06           12.000000